* {
  /* border: 2px solid red; */
  font-family:Arial, Helvetica, sans-serif
}

div {
    color: black;
    background-color: white;
  }
  
h1 {
    color: whitesmoke;
    background-color: brown;
    text-align: center;
  }
.flex-container {
  display: flex;
}
.flex-item {
  background: peachpuff;
  border: 2px solid brown;
  flex: 0 1 25%;
  margin: 4px;
  padding: 8px;
}
.flex-container1 {
  display: block;
  background: peachpuff;
  border: 2px solid brown;
  flex: 0 1 25%;
  margin: 4px;
  padding: 2px;
}
.flex-item1 {
  background: rgb(145, 214, 162);
  border: 2px solid rgb(42, 165, 138);
  margin: 2px;
  padding: 8px;
}
.flex-item2 {
  background: peachpuff;
  border: 2px solid brown;
  flex: 0 1 52%;
  margin: 4px;
  padding: 8px;
}

img {
  width: 150px;
}